###> system files ###
.DS_Store
###< system files ###

###> ide files ###
.idea
###< ide files ###

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/%CONFIG_DIR%/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
